.mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  flex: 1;
}

.div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 922px;
}

.noAdvertDiv {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

.rootMain {
  flex: 1;
  background-color: #f0f0f0;
}

.nav {
  padding: 0 0 0 10rem;
}

.managementNav {
  padding: 0 0 0 10rem;
}
