.div {
  width: 850px;
  margin: 1rem 0 2rem 0;
}

.messageDiv {
  max-height: 350px;
  overflow-y: auto;
}

.ul {
  padding: 0;
  margin: 0;
}

.li {
  list-style: none;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  word-break: break-word;
}

.inputButtonDiv {
  margin: 2rem 0 0 0;
  display: flex;
  gap: 0.5rem;
}

.advertOwnerInfo {
  display: flex;
  gap: 1rem;
}

.advertOwnerName {
  margin: 0 0 1rem 0;
}

.advertOwnerTelDiv {
  width: fit-content;
  background-color: gray;
  height: 24px;
  border-radius: 8px;
  padding: 0 4px;
}

.advertOwnerTel {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
}

.messageBoxDiv {
  display: flex;
  flex-direction: column;
}

.messageBoxWrapper {
  border-radius: 8px;
  width: fit-content;
  padding: 1rem;
  background-color: #f2f2f2;
  margin: 0.5rem;
  max-width: 336px;
}

.flexEndMessage {
  align-items: flex-end;
}

.greenBox {
  background-color: #dcf6c5;
}

.messageCreatedAt {
  font-size: 12px;
  color: #333333;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  opacity: 0.5;
}

.button {
  border-radius: 8px;
  background-color: rgb(72, 144, 216);
  color: white;
  grid-column: span 2;
  border: 3px solid rgb(72, 144, 216);
  font-size: 14px;
  transition: background 0.5s ease, color 0.5s ease;
  font-weight: bolder;
  padding: 4px 8px;
  cursor: pointer;
  height: 40px;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
}

.button:hover {
  background: white;
  color: rgb(72, 144, 216);
  cursor: pointer;
}

.input {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 802px;
  height: 40px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 2px 6px;
  line-height: 16px;
  outline: none;
}

.input:focus {
  box-shadow: 0 0 2px 1px rgb(72, 144, 216);
}
