.nav {
  margin: 0 4.5rem 0 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  height: 32px;
}

.li {
  width: 28px;
  height: 28px;
}

.logo {
  margin-left: 1rem;
  transition: transform 0.5 ease;
}

/* .logo:hover {
  transform: scale(1.2);
} */

.registerLink,
.accountLink {
  margin: 0 1.5rem 0 0;
}

/* .favoriteAdvertsLink {
  display: inline-block;
  margin: 4px 0 0 0;
} */

.homeLink i,
.registerLink i,
.loginLink i,
.allAdvertsLink i,
.accountLink i {
  color: white;
  border-radius: 8px;
  transition: transform 0.5s ease;
  display: inline-block;
  font-weight: bold;
  border: none;
  font-size: 28px;
}

.homeLink i:hover,
.registerLink i:hover,
.loginLink i:hover,
.allAdvertsLink i:hover,
.accountLink i:hover {
  transform: scale(1.2);
}

.account {
  position: relative;
  height: 28px;
  margin: 0;
}

.accountMenu {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 4px;
  background-color: gray;
  z-index: 1000;
  border-radius: 8px;
  display: none;
}

.account:hover .accountMenu {
  display: block;
}

.accountMenu li {
  list-style: none;
}

.accountMenu a {
  width: 120px;
  display: inline-block;
  color: white;
  transition: color 0.15s ease-in;
  padding: 6px;
}

.accountMenu a:hover {
  color: orangered;
}

.accountMenu i {
  transition: color 0.25s ease-in;
}

.myAdvertsLink,
.favoriteAdvertsLink,
.logoutLink,
.juniorAccountLink {
  font-size: 14px;
  height: 14px;
}

.logoutLink i,
.myAdvertsLink i,
.favoriteAdvertsLink i,
.juniorAccountLink i {
  color: white;
  border-radius: 8px;
  transition: transform 0.5s ease;
  display: inline-block;
  font-weight: bold;
  border: none;
  font-size: 14px;
}
