.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.inputDiv label {
  width: 7rem;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0 0 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.inputDiv input {
  padding: 3px 6px;
  margin: 0 0 0.1rem 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputDiv input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #80c2d0;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 133, 161, 0.25);
}

.inputDiv input::placeholder {
  color: #6c757d;
}
