.nav {
  width: 100%;
  height: 60px;
  background-color: rgb(233, 218, 244);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 8px;
}

.ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.ul li {
  list-style: none;
}

.ul a {
  padding: 20px 16px;
  position: relative;
}

.ul a:hover {
  color: rgb(72, 144, 216);
}

.active {
  color: rgb(72, 144, 216);
  font-weight: bold;
}

.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 122px;
  height: 6px;
  background-color: rgb(72, 144, 216);
  border-radius: 8px;
}
