.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

.advertDiv {
  display: flex;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 870px;
  margin: 0 0 6px 0;
  box-sizing: border-box;
}

.imageDiv {
  padding: 0 12px;
  height: 75px;
}

.imageDiv img {
  width: 100px;
  height: 100%;
  border-radius: 8px;
}

.titleBrandModelDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
}

.titleBrandModelDiv i {
  color: #ccc;
}

.titleBrandModelDiv a {
  margin: 0;
  padding: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: darkblue;
}

.titleBrandModelDiv a:hover {
  text-decoration: underline;
}

.titleBrandModelDiv p {
  color: rgb(40, 38, 38);
  font-weight: normal;
  margin: 5px 0 0 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}

.priceDiv {
  display: flex;
  width: 150px;
  padding: 0 1rem 0 0;
  align-items: center;
  justify-content: center;
}

.priceDiv p {
  margin: 0;
  padding: 0;
  color: brown;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.chatToggleButtonDiv {
  width: 121px;
  text-align: center;
}

.chatToggleButtonDiv button {
  color: darkcyan;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
