.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40.9rem;
}

.input {
  font-size: 18px !important;
}

.textarea {
  padding: 0.375rem 0.75rem;
  margin: 0 0 0.1rem 0;
  font-size: 18px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 8px;
}

.textarea:focus {
  color: #212529;
  background-color: #fff;
  border-color: #80c2d0;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 133, 161, 0.25);
}

.label {
  font-size: 18px;
  margin: 1rem 0 0.5rem 0;
  font-weight: bold;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.button {
  border-radius: 15px;
  background-color: #ff6b6b;
  color: white;
  grid-column: span 2;
  width: 100%;
  border: 5px solid #ff6b6b;
  height: 60px;
  font-size: 25px;
  transition: background 0.5s ease, color 0.5s ease;
  margin: 1rem 0 1rem 0;
  font-weight: bolder;
}

.button:hover {
  background: white;
  color: #ff6b6b;
  cursor: pointer;
}
