.rootMain {
  flex: 1;
  background-color: #f0f0f0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #f0f0f0;
}

.listWrapper {
  width: 820px;
}

.listHeader {
  display: grid;
  grid-template-columns: 174px 450px 166px;
  justify-content: center;
  align-items: center;
}

.listHeader span {
  text-align: center;
  font-weight: bold;
  margin: 0 0 6px 0;
}

.myFavoriteAdvertsTextDiv {
  width: 820px;
}

.myFavoriteAdvertsTextDiv h3 {
  margin: 12px 0;
}

.noFavoriteAdvertDiv {
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}

.managementNav {
  padding: 0 0 0 20rem;
}
