.wrapperDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.priceOfferText {
  color: white;
}

.priceOffer {
  color: bisque;
}

.button {
  border-radius: 15px;
  background-color: rgb(72, 144, 216);
  color: white;
  grid-column: span 2;
  border: 3px solid rgb(72, 144, 216);
  font-size: 14px;
  transition: background 0.5s ease, color 0.5s ease;
  font-weight: bolder;
  padding: 5px;
}

.button:hover {
  background: white;
  color: rgb(72, 144, 216);
  cursor: pointer;
}

.cancelButton {
  color: #ff6b6b;
}

.carModel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.validatyDateDiv {
  display: flex;
  justify-content: center;
}

.validatyDate span {
  color: darkmagenta;
}
