.header {
  background-image: url("/images/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}

.button {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  border: 3.5px solid #0085a1;
  background-color: #0085a1;
  width: 6.5rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  transition: transform 0.5s ease, background 0.5s ease;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.button:hover {
  background: white;
  color: #0085a1;
}
